* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Neutral */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);
    /* Red */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
    /* Gradient */
    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

body {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    color: var(--neutral-0);
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

/* header */
.main-header  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-700);
    padding: 1rem;
    border-radius: 1rem;
}

.extensions-logo {
    height: 2.5rem;
}
/* logo svg */
    .fav-logo {
        fill: var(--red-400);
    }

    .text-logo {
        fill: var(--neutral-0);
    }
/* themes toggle */
.themes-toggle {
    background-color: var(--neutral-600);
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 0.5rem;display: flex;
    justify-content: center;
    align-items: center;
}

    .sun-icon {
        display: none;
    }

    .moon-icon {
        display: none;
    }

/* extensions title */
.extensions-title {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
/* button filter */
.extensions-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.filter-btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: var(--neutral-700);
    border-radius: 10rem;
    min-width: 4rem;
    border: 1px solid var(--neutral-600);
    text-align: center;
    color: var(--neutral-0);
}

.filter-btn:hover {
    background-color: var(--neutral-600);
}

.active {
    background-color: var(--red-400);
    border: var(--red-400);
    color: var(--neutral-900);
}

.active:hover {
    background-color: var(--red-400);
    border: var(--red-400);
    color: var(--neutral-900);
}

/* Extensions list */
.ext-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
}

    /* extensions cart */
.ext-cart {
    width: 100%;
    min-height: 190px;
    background-color: var(--neutral-700);
    border: 1px solid var(--neutral-600);
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    .ext-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }
        .ext-inf {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 0.5rem;
        }
        .ext-name {
            font-weight: 500;
            line-height: 1;
        }
        .ext-disc {
            font-weight: 400;
            color: var(--neutral-300);
        }

    .ext-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .ext-remove {
            position: relative;
            background-color: var(--neutral-700);
            border: 1px solid var(--neutral-600);
            width: 6rem;
            height: 2.5rem;
            border-radius: 2rem; 
            color: var(--neutral-0);
        }
        /* button focus */
        button {
            position: relative;
        }

        button::after {
            content: "";
            position: absolute;
            top: -3px; left: -3px; right: -3px; bottom: -3px;
            border-radius: 30px;
            border: 1px solid transparent;
        }

        .themes-toggle::after {
            border-radius: 0.5rem;
        }

        button:focus {
            outline: none;
        }

        button:focus::after {
            border: 1px solid var(--red-500);
        }


    
    

    /* toggle button */
    .switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    }

    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-600);
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: calc(1.5rem - 4px);
    width: calc(1.5rem - 4px);
    left: 2px;
    bottom: 2px;
    background-color: var(--neutral-0);
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider::after {
        content: "";
        position: absolute;
        top: -3px; left: -3px; right: -3px; bottom: -3px;
        border: 1px solid transparent;
    }

    input:checked + .slider {
    background-color: var(--red-400);
    }

    input:focus + .slider::after {
    border: 1px solid var(--red-500);
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider::after {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }
    /* toggle button end */

    /* Desktop view */
    @media screen and (min-width: 768px) {
        /* body */
        body {
            padding: 1rem 10vw;
        }
        /* header */
        .main-header {
            margin-bottom: 1.5rem;
        }
        
        /* extensions title */
        .extensions-title {
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 0;
        }

        /* extensions list */
        .ext-cards {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
        }
        .ext-cart {
            min-height: 220px;
            
        }
    }   

    @media screen and (min-width: 1200px) {
        body {
            padding: 1rem 15vw;
        }
        .ext-cards {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1rem;
        }
    }

    /* theme button */
    .isActive {
        display: block;
    }

    /* change theme */
    body.day-mode {
        background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    }

    body.day-mode h1 {
        color: var(--neutral-900);
    }

    
    body.day-mode .themes-toggle {
        background-color: var(--neutral-300);
    }

    body.day-mode .text-logo {
        fill: var(--neutral-900);
    }
    
    body.day-mode .ext-cart,
    body.day-mode .ext-remove,
    body.day-mode .main-header,
    body.day-mode .filter-btn {
        background-color: var(--neutral-0);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        color: var(--neutral-900);
        border: none;
    }

    body.day-mode .filter-btn:hover {
    background-color: var(--neutral-300);
    }

    body.day-mode .active,
    body.day-mode .active:hover {
    background-color: var(--red-400);
    border: var(--red-400);
    color: var(--neutral-900);
    }
    
    body.day-mode p {
        color: var(--neutral-700);
    }